
*{

    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


li{
    list-style-type: none;
    float: right;
    letter-spacing: 4px;
    text-transform: uppercase;
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 0, 98);
    color: white;
  }

.active {
    background-color: rgb(255, 0, 98);
    color: white;
  }

#main-gif{
    margin-left: auto;
    margin-right: auto;  
    margin-top: 22%;  
    text-align: center;
    overflow: hidden;
}

#header{
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 20pt;
}

#header-2{
    text-align: center;
    margin-bottom: 3%;
}


#sub-header{
    text-align: center;
    margin-bottom: 12%;
    padding: 1%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 00;
}

#sub-header-2{
    margin-left: 3%;
    padding: .5%;
    letter-spacing: 4px;
    font-size: 17pt;
    text-transform: uppercase;
}

#sub-header-3{
    font-size: 15pt;
    margin-left: 3.4%;
    margin-bottom: 3%;
    padding-right: 10%;
}

#sub-header-4{
    background-color: cadetblue;
    margin-left: 3.4%;
    margin-bottom: 3%;
    width: fit-content;
    margin-right: 30%;
}

#sub-header-5{
    
    margin-bottom: 3%;
    padding-right: 10%;
    text-align: center;
}

article#list{
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 15pt;
}

article#list:hover{
    color: rgb(0, 225, 255);
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 225, 255);
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

#image{
    width: 30%;
    overflow: hidden;
    display: inline-block;
    margin-left: 15%;
    float: center;
}

.logo{
    width: 10%;
    margin-left: 3%;
    margin-top: 15%;
}

.logo-gif{
    background-color: hotpink;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

#bio{
    width: 37%;
    padding: 3.8%;
    overflow: hidden;
    display: inline-block;
    
}

#overview{
    background-color: blueviolet;
    display: inline-block;
}


.fa{
    padding: 2%;
    padding: 20px;
    font-size: 30px;
    width: 2vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}

.category-2{
    display: inline;
    width: fit-content;
    padding: 2%;
}

.category{
    display: inline;
    width: fit-content;
}

.snap-dropdown{
    display: inline-block;
    width: fit-content;
    background-color: rgb(0, 225, 255);
    margin-left: 3%;
    margin-right: auto;
    text-align: center;
    padding-right: 2.3%;
    padding-left: 2.3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 7px;
    margin-bottom: 8%;
}

.box-1{
    margin-top: 20%;
    
}

.snap-dropdown:hover{
    color: white;
}

.snap-dropdown:visited{
    color: black;
}

.icon-box{
    background-color: rgba(216, 215, 215, 0.397);
    width: fit-content;
    padding: 10%;
    display: inline-block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.image-box{
    width: 28%;
    padding: 1%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.image-box-2{
    width: 20%;
    padding: 1%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.client{
    width: 15%;
    padding: 5%;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 1%;

    transition: transform 3s;
        -moz-transition: transform 3s;
        -ms-transition: transform 3s;
        -o-transition: transform 3s;
        -webkit-transition: transform 3s;
}

.client:hover{
    transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        -webkit-transform: scale(1.3);
}

.client-2{
    width: 18%;
    padding: 5%;
    display: inline-block;
    transition: transform 3s;
        -moz-transition: transform 3s;
        -ms-transition: transform 3s;
        -o-transition: transform 3s;
        -webkit-transition: transform 3s;

}

.client-2:hover{
    transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        -webkit-transform: scale(1.3);
}

.client-3{
    width: 18%;
    padding: 5%;
    margin-left: .75%;
    display: inline-block;
    transition: transform 3s;
        -moz-transition: transform 3s;
        -ms-transition: transform 3s;
        -o-transition: transform 3s;
        -webkit-transition: transform 3s;

}

.client-3:hover{
    transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        -webkit-transform: scale(1.3);
}

.fa:hover {
    background: rgb(255, 196, 0);
    color: white;
}

.fa-instagram {
    background: white;
    color: black;
}

.fa-linkedin {
    background: white;
    color: black;
    
    
  }

footer{
    text-align: center;
    font-size: 10pt;
    margin-top: 3em;
    padding: 1%;
}

img{
    width: 100%;
}


